<div class="homepage1">
  <h1>SMRT</h1>
</div>
<div class="hompagecard1">
  <p>Lifestyle Therapies understands that improving and maintaining a healthy and active lifestyle lies at the core of every individual. However, along this journey the physical or psychological body can need rejuvenation.
All treatments are delivered in a way to relax and revitalize the body and mind. These treatments are tailor-made for each individual: to help soothe the mind while using specific techniques to either prevent or rehabilitate injuries.
Through Lifestyle Therapies, you can choose from a range of treatments to have at home or wherever suits you.
</p>
</div>

<%= cl_image_tag("What-is-a-Sports-Massage_w9x5rwg", class: "mainimage", alt: "head massage") %>
