body{
  margin: 0;
}
.mainbackgroundcolor {
  background-color: #695C50;
}

.pushdown{
  padding-top: 100vh;
}

.backcolour{
  background-color: black;
}

.backgroundwhite{
  background-color: white;
}
