.cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  
}

.hompagecard1{
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #695C50;
  max-width: 572px;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
}
