.homepageimage{
  background-image: url("https://res.cloudinary.com/daaxwngzv/image/upload/v1715187245/massageeye_j6gvog.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #695C50;
  height: 70vh;
}
.mainimage{
  height: 50vh;
  width: 50vh;
}

.homepageimage1{
  background-image: url("https://res.cloudinary.com/daaxwngzv/image/upload/v1715335359/What-is-a-Sports-Massage_w9x5rw.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #695C50;
  height: 100vh;
  z-index: -1;
  position:fixed;
}
