.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#mainnav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: 433d37;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

}
.blacktime{
  background-color: black;   
  transition-delay: 0.2s;
}

#navbar-brand1 {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

#navbar-nav1 {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item1 {
  margin-left: 20px;
}
#navcolor{
  color: #6f6253;
}
#navcolor:hover{
  color: #433d37;
}
.nav-item a {
  color: white; /* Color for nav links */
  text-decoration: none; /* Remove underline */
  font-size: 1rem;
}

.nav-item a:hover {
  color: #ccc; /* Hover color */
}

@media (min-width: 991px) {
  .smallscreendisplay {
    display: none;
  }

}
@media (max-width: 991px) {
  .largescreendisplay {
    display: none;
  }
}
