.hidden {
  opacity: 0;
  transition: all 1s;
}
.show {
  opacity: 1;
}
.test{
  border: 1px solid red;
}

.animated{
  transition: all 1s;
  transform: translate(0, 0);
}

.animate_on_scroll:nth-child(1){
  transition-delay: 0.2s;

}

.animate_on_scroll:nth-child(2){
  transition-delay: 0.4s;

}
